@{
    ViewData["Title"] = "Register";
}
@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@ViewData["ErrorMessage"]</div>
}
else if (ViewData["Success"] != null)
{
    <div class="alert alert-danger">@ViewData["ErrorMessage"]</div>
}
@model YouthVoice.Models.NewUserCredentials

<h2>Register</h2> <br/>

<form asp-action="Register" asp-controller="Authentication">
    <label>Username:</label>
    <input class="form-control" type="text" name="username" placeholder="Enter an username" asp-for="Username" required /> <br/>

    <label>Email:</label>
    <input class="form-control" type="email" name="email" placeholder="Enter your email" asp-for="Email" required />
    @if (ViewBag.EmailError != null)
    {
        <p style="color:red;">@ViewBag.EmailError</p>
    } <br />

    <label>Password:</label>
    <input class="form-control" type="password" name="password" placeholder="Enter a password" asp-for="Password" required />
    @if (ViewBag.PasswordError != null)
    {
        <p style="color:red;">@ViewBag.PasswordError</p>
    } <br />

    <button class="btn btn-primary" type="submit">Register</button>
</form> <br />


@if (ViewBag.Message != null)
{
    <p style="color:green;">@ViewBag.Message</p>
}